html {
    --scrollbarBG: #f8f9fa;
    --thumbBG: #212529;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-image: url("circuit-minimalist-11-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
.menu ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.9);
    display: block;
    text-align: center;
    padding: 14px 16px;
}
li a:hover
{
    background-color: 212529;
}
.nav-item
{
    border-left: 1px solid #bbb;
}
.nav-item:last-child
{
    border-right: 1px solid #bbb;
}
.nav-item active
{
    color: #4CAF50;
}
#timeOut
{
    position: relative;
    top: -10px;
    right: 2.5%;
    height: 10px;
    width: 80px;
    padding: 20px;
    font-size: 1.25rem;
    color: rgba(0,0,0,.9);
}
footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  opacity: 0.95;

}

h3
{
  text-align: center;
}

section
{
  margin: 100px 60px 60px 60px;
  text-align: justify;
}

@media screen and (max-width:991px)
{
  #timeOut
  {
    display: none;
  }
  li:last-child
  {
      border-right: none;
  }

}

.padding
{
  padding: 10px 50px 50px 50px;
  background: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

table
{
  width: 1150px;
  border: solid 1px;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  display: table;
  line-height: 29.7px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  background-color: white;
}

th, td
{
  padding: 15px;
  text-align: left;
  border: 1px solid rgb(85, 85, 85);
}