html {
    --scrollbarBG: #f8f9fa;
    --thumbBG: rgba(0,0,0,.9);
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
.menu ul li a
{
    text-decoration: none;
    color: rgba(0,0,0,.9)
}
#timeOut
{
    position: relative;
    top: -10px;
    right: 2.5%;
    height: 10px;
    width: 80px;
    padding: 20px;
    font-size: 1.25rem;
    color: rgba(0,0,0,.9);
}
footer
{
    text-align: center;
    color: red;
}